<!DOCTYPE html>
<html ng-app="FirstNamesApp">
<head>
</head>

<script>
	glbLive = {};
	glbLive.reverseNames = function() {
		angular.element(thePrimaryControllerTag).scope().methods.pubReverseNames();
	};
	glbLive.addName = function() {
		var nameToAdd = "Sally_"+Date.now();
		angular.element(thePrimaryControllerTag).scope().methods.pubAddName(nameToAdd);
	};
</script>

<body>
	=== First Names App ===
	<br><br>
	<button onclick="glbLive.reverseNames()">Reverse Names (outside of ng-app)</button> 
	<button onclick="glbLive.addName()">Add Name (outside of ng-app)</button>
	<br><br>
	<div>
		<script src="//code.angularjs.org/1.3.0-beta.17/angular.js"></script>	 
	 
		<div id="thePrimaryControllerTag" ng-controller="NamesController" class="ng-scope">
			 Name:<input type="text" ng-model="datas.newName" class="ng-pristine ng-valid">
			<button ng-click="methods.addName()">Add</button>
			<h2>{{label}}</h2>
			<ul>
				<li ng-repeat="name_ in datas.names"> {{name_}} </li>
			</ul>
		</div>
		

		<script>
			angular.module("FirstNamesApp", [])
				.controller("NamesController", function($scope, $window) {
					$scope.datas = {};
					$scope.methods = {};
					$scope.label = "Names:";
					$scope.datas.names = ["Alex", "Amy"];

					$scope.methods.addName = function(){
						$scope.datas.names.push($scope.datas.newName);
						console.log("$scope.methods.addName - datas.names: ", $scope.datas.names);
					};
					
					$scope.methods.pubReverseNames = function(){
						$scope.datas.names = $scope.datas.names.reverse();
						$scope.$apply();
						console.log("$scope.methods.pubReverseNames - datas.names: ", $scope.datas.names);
					};
					
					$scope.methods.pubAddName = function(name){
						$scope.datas.names.push(name);
						$scope.$apply();
						console.log("$scope.methods.addName2 - datas.names: ", $scope.datas.names);
					};
					
					$scope.$watch(function() { return $scope.datas.names }, function() { console.log("watch $scope.datas.names / show glbLive.theNames: ", glbLive.theNames) }, true);
				} );
		</script>
	</div>
</body>
</html>


