<!DOCTYPE html>
<html>
<head>
</head>

<script>
	glbNamesApp = {}
	glbNamesApp.theNames = ["Alex", "Amy"]
	
	glbNamesApp.modifyNames = function() {
		glbNamesApp.theNames = glbNamesApp.theNames.reverse()
		glbNamesApp.leadName = glbNamesApp.theNames[0];
		console.log("Modified glbNamesApp.theNames: ", glbNamesApp.leadName , glbNamesApp.theNames)
	}
	glbNamesApp.reverseNames = function() {
		angular.element(thePrimaryControllerTag).scope().methods.pubReverseNames()
	}
	glbNamesApp.addName = function() {
		var nameToAdd = "Sally_"+Date.now();
		angular.element(thePrimaryControllerTag).scope().methods.pubAddName(nameToAdd)
	}
</script>

<body>
	<div id="theNamesApp" ng-app="NamesApp">
		<script src="//code.angularjs.org/1.3.0-beta.17/angular.js"></script>	 
	 
		<div id="thePrimaryControllerTag" ng-controller="NamesController" class="ng-scope">
			 Name:<input type="text" ng-model="datas.newName" class="ng-pristine ng-valid">
			<button ng-click="methods.addName()">Add</button>
			<h2 id="theLabel">{{label}}</h2>
			<ul id="theNamesList">
				<li ng-repeat="name_ in datas.names"> {{name_}} </li>
			</ul>
		</div>
		

		<script>
			glbNamesApp.modifyNames2 = function() {
				glbNamesApp.theNames = glbNamesApp.theNames.reverse()
				glbNamesApp.leadName = glbNamesApp.theNames[0];
				console.log("Modified glbNamesApp.theNames: ", glbNamesApp.leadName , glbNamesApp.theNames)
			}
			angular.module("NamesApp", [])
				.controller("NamesController", function($scope, $window) {
					$scope.datas = {}
					$scope.methods = {}
					$scope.label = "Names:"
					$scope.datas.names = glbNamesApp.theNames

					$scope.methods.addName = function(){
						$scope.datas.names.push($scope.datas.newName)
						$scope.$apply()
						console.log("$scope.methods.addName - datas.names: ", $scope.datas.names)
						console.log("$scope.methods.addName - glbNamesApp.theNames: ", glbNamesApp.theNames)
					}
					
					$scope.methods.pubReverseNames = function(){
						$scope.datas.names = $scope.datas.names.reverse()
						$scope.$apply()
						console.log("$scope.methods.pubReverseNames - datas.names: ", $scope.datas.names)
						console.log("$scope.methods.pubReverseNames - glbNamesApp.theNames: ", glbNamesApp.theNames)
					}
					
					$scope.methods.pubAddName = function(name){
						$scope.datas.names.push(name)
						$scope.$apply()
						console.log("$scope.methods.addName2 - datas.names: ", $scope.datas.names)
						console.log("$scope.methods.addName2 - glbNamesApp.theNames: ", glbNamesApp.theNames)
					}
					
					$scope.$watch(function() { return $scope.datas.names }, function() { console.log("watch $scope.datas.names / show glbNamesApp.theNames: ", glbNamesApp.theNames) }, true)
				} );
		</script>
	</div>
	<button onclick="glbNamesApp.modifyNames()">Modify Names (outside of ng-app)</button> 
	<button onclick="glbNamesApp.reverseNames()">Reverse Names (outside of ng-app)</button> 
	<button onclick="glbNamesApp.addName()">Add Name (outside of ng-app)</button>
</body>
</html>


